@import '~material-design-icons/iconfont/material-icons.css';

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
      url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
      url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.sidebar {
    position: relative;
    width: 5%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #2F3136;
    color: #E5E5E5;
}

.content {
    padding: 1rem 2rem;
    width: 90%;
}

.bg {
    background-color: #E5E5E5;
}

.group {
    width: 24%;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;

    .group-name {
        padding: .2rem .5rem;
    }

    .font-size {
        font-size: 12px;
    }
}

.task {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    color: #2F3136;
    border: 1px solid #E4E4E8;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem 0;
}

.no-task {
    width: 100%;
    background-blend-mode: screen;
    font-size: 14px;
    color: #B7BDC9;
    border: 1px solid #E4E4E8;
    border-radius: 4px;
    padding: 1rem;
    margin: .5rem 0;
}

.new-task {
    font-size: 12px;
    color: #2F3136;
    margin: 1rem 0;
}

.pointer {
    cursor: pointer;
}

.dropdown-toggle::after {
    display:none !important;
}

.vertical-align {
    vertical-align: middle;
}

.material-icons.md-14 {
    font-size: 14px;
}

.form-head {
    font-size: 16px;
    font-weight: bold;
    color: #262626;
}

.form-label {
    font-size: 12px;
    color: #5D6372;
}

.cancel-btn {
    color: #262626;
    border: 1px solid #D9D9D9 !important;
}

.dropdown-item {
    &:hover, &:active, &:focus {
        background-color: #F5F0FC !important;
        color: #5E20B3 !important;
    }
}

@media screen and (max-width: 1300px) {
    .group {
        width: 32%;
    }

    .sidebar {
        width: 68px;
    }
}

@media screen and (max-width: 1000px) {
    .group {
        width: 49%;
    }

    .sidebar {
        width: 68px;
    }
}

@media screen and (max-width: 700px) {
    .group {
        width: 100%;
    }

    .sidebar {
        width: 68px;
    }

    .content {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .group {
        width: 100%;
    }

    .sidebar {
        width: 68px;
    }

    .content {
        width: 80%;
        padding: 1rem;
    }
}

@import '~bootstrap/scss/bootstrap.scss';