.sidebar {
    position: absolute;
    width: 68px;
    min-height: 100vh !important;
    left: 0px;
    top: 0px;
    background: #2F3136;

}

.content {
    padding: 1rem 7rem;
}

.bg {
    background-color: #E5E5E5;
}

.logo {
    color: #E5E5E5;
}

.group {
    width: 24%;
    border-radius: 4px;
    padding: 1rem;
    
    .group-name {
        padding: .2rem .5rem;
    }

    .font-size {
        font-size: 12px;
    }
}

@import '~bootstrap/scss/bootstrap.scss';