.sidebar {
    position: absolute;
    width: 68px;
    min-height: 100vh !important;
    left: 0px;
    top: 0px;
    background: #2F3136;

}

.content {
    padding: 1rem 7rem;
}

.bg {
    background-color: #E5E5E5;
}

.logo {
    color: #E5E5E5;
}

.group {
    width: 24%;
}

@import '~bootstrap/scss/bootstrap.scss';